# Google Trends Local Deals Restuarants and Food Scripts

In [1]:
from datetime import date
import pandas as pd
import pytrends
from pytrends.request import TrendReq
import datetime

In [2]:
numyears = 1
numdays = 7
numweeks = 52
total_time_range = numdays * numweeks * numyears

end_date= date.today()
today_date = date.today()
end_date = today_date
begin_date = end_date - datetime.timedelta(days = total_time_range-7)

user_timeframe = begin_date.strftime('%Y-%m-%d')+' '+end_date.strftime('%Y-%m-%d')
print(user_timeframe)

2019-03-25 2020-03-16

In [3]:
# initiate API 
pytrend =  TrendReq()

In [4]:
# perform initial search for related queries 
pytrend.build_payload(kw_list=['food', 'best', 'restaurants', 'cafe', 'vegan'], geo = 'GB', timeframe = user_timeframe, cat = 71)
related_queries_dict = pytrend.related_queries()
related_topics_dict = pytrend.related_topics()

In [5]:
related_queries_dict

{'food': {'top':                      query  value
  0             food near me    100
  1                 bbc food     87
  2                good food     81
  3            food delivery     58
  4            bbc good food     54
  5             chinese food     36
  6             food recipes     36
  7   marks and spencer food     32
  8                fast food     30
  9                 m&s food     28
  10              vegan food     26
  11             indian food     25
  12              party food     23
  13        food restaurants     20
  14              order food     18
  15              tesco food     18
  16             street food     18
  17               thai food     17
  18           takeaway food     16
  19               free food     15
  20              food ideas     15
  21               asda food     14
  22   food delivery near me     14
  23         bbc food recipe     13
  24             food places     12,
  'rising':                               query  value
  0                   beer munch food   3450
  1                    beermunch food   1350
  2      fast food restaurant near me    700
  3               asian food delivery    350
  4                        ninja food    350
  5              fast food restaurant    300
  6             mexican food delivery    300
  7                          food hub    200
  8                 good food channel    180
  9             italian food delivery    180
  10  marks and spencer food delivery    160
  11            asda online food shop    110
  12                   ocean food bar    110
  13    fast food restaurants near me    100
  14          food delivery insurance     90
  15                  m&s online food     80
  16             indian food delivery     80
  17             marks & spencer food     80
  18                          ms food     70
  19          bbc good food carbonara     70
  20                thai food near me     60
  21          vegetarian food near me     60
  22           american food delivery     60
  23              indian food near me     60
  24                 m&s food near me     60},
 'best': {'top':                           query  value
  0              best restaurants    100
  1                  best recipes     29
  2       best restaurants london     20
  3                    best pizza     19
  4                   best coffee     19
  5           best burger near me     18
  6                    best kebab     18
  7                 best takeaway     13
  8      best restaurants near me     12
  9    best restaurants in london     10
  10                     best gin      7
  11       best indian restaurant      7
  12            best food near me      6
  13          best fish and chips      6
  14      best restaurant near me      6
  15                 best whiskey      5
  16             best slow cooker      5
  17        best chinese takeaway      4
  18          best roast potatoes      4
  19     best italian restaurants      4
  20      best chinese restaurant      4
  21           best sushi near me      3
  22           best vegan recipes      2
  23     best indian food near me      2
  24  best fish and chips near me      1,
  'rising':                                   query  value
  0            best advent calendars 2019   8400
  1                best home cook georgia   3600
  2                   best burger near me   2550
  3                  best mince pies 2019   1750
  4         best mince pies 2019 guardian   1150
  5                         best gin 2019   1000
  6                      best start foods    700
  7           best christmas pudding 2019    600
  8                    best sushi near me    500
  9                    best curry near me     80
  10             best indian food near me     70
  11                       best games.com     70
  12                 best vegan cookbooks     70
  13  best vegetarian restaurants near me     70
  14             best oil for deep frying     70
  15               best chef in the world     60
  16               best cheap eats london     60
  17                 best spag bol recipe     60
  18                 best vegan cheese uk     50
  19                   best vegan recipes     50
  20                  best coffee near me     50
  21          best fish and chips near me     50
  22                best carbonara recipe     50
  23                 best dessert near me     50
  24          best victoria sponge recipe     40},
 'restaurants': {'top':                          query  value
  0          restaurants near me    100
  1             best restaurants     68
  2           london restaurants     45
  3           indian restaurants     20
  4          italian restaurants     19
  5        restaurants in london     16
  6         michelin restaurants     16
  7      best restaurants london     14
  8    michelin star restaurants     13
  9        restaurants edinburgh     12
  10           vegan restaurants     12
  11         chinese restaurants     11
  12           halal restaurants     11
  13             top restaurants     10
  14         restaurants glasgow     10
  15      manchester restaurants      9
  16    best restaurants near me      8
  17           pizza restaurants      7
  18            good restaurants      7
  19           steak restaurants      7
  20  best restaurants in london      6
  21       liverpool restaurants      6
  22      restaurants birmingham      6
  23            york restaurants      5
  24    food restaurants near me      5,
  'rising':                                 query  value
  0            alton towers restaurants    100
  1        take out restaurants near me     80
  2  michelin star restaurants scotland     50
  3            restaurants in westfield     50
  4              palm beach restaurants     50
  5    dog friendly restaurants near me     50
  6           resorts world restaurants     50
  7              restaurants in norwich     40
  8             restaurants near me now     40},
 'cafe': {'top':                      query  value
  0                cafe menu    100
  1             cafe near me     88
  2                 the cafe     74
  3               cafe rouge     52
  4           breakfast cafe     35
  5           morrisons cafe     27
  6               vegan cafe     23
  7                cafe nero     22
  8                thai cafe     14
  9             cafe andaluz     13
  10         sainsburys cafe     12
  11         cafe rouge menu     10
  12              river cafe     10
  13              tesco cafe     10
  14         rainforest cafe     10
  15              pizza cafe     10
  16       breakfast near me      9
  17  breakfast cafe near me      9
  18               cafe east      8
  19              cafe royal      8
  20               asda cafe      8
  21           cafe de paris      7
  22             bridge cafe      6
  23          hard rock cafe      6
  24           cafe delivery      6,
  'rising':                                query  value
  0   hard rock cafe piccadilly circus   6100
  1                        artbox cafe   4100
  2              pusheen cafe brighton   3450
  3                       pusheen cafe    350
  4                        ladana cafe    300
  5    cafe rouge cheese afternoon tea    140
  6               cafe rouge bluewater    140
  7                       bangkok cafe    130
  8                     whiteways cafe    130
  9                            mc cafe    110
  10                 farzi cafe london    110
  11                       aroush cafe    110
  12          wild food cafe islington    100
  13          cafe rouge afternoon tea     90
  14                     the mill cafe     90
  15                     cafe de china     90
  16                        farzi cafe     90
  17                   farzi cafe menu     90
  18             the ivy cafe richmond     90
  19                        cafe helen     80
  20             cafe rouge portsmouth     80
  21                     windmill cafe     80
  22                    ikea cafe menu     80
  23                         folk cafe     70
  24                      cafe saffron     70},
 'vegan': {'top':                 query  value
  0       vegan recipes    100
  1          vegan food     70
  2          vegan cake     62
  3     vegan chocolate     52
  4        vegan cheese     43
  5   vegan restaurants     38
  6        vegan burger     37
  7       vegan near me     29
  8         tesco vegan     29
  9         vegan bread     28
  10        vegan pizza     27
  11        vegan curry     27
  12         vegan diet     26
  13   vegan restaurant     25
  14        vegan meals     25
  15      vegan protein     23
  16          vegan kfc     22
  17        vegan cream     22
  18      what is vegan     21
  19        vegan pasta     21
  20    vegan breakfast     18
  21     vegan pancakes     18
  22         vegan cafe     18
  23      vegan sausage     17
  24      vegan chicken     16,
  'rising':                                  query  value
  0              greggs vegan steak bake  24000
  1                     vegan kfc burger  13350
  2                     vegan steak bake   5250
  3               galaxy vegan chocolate   1450
  4                         vegan galaxy   1100
  5                            vegan kfc   1100
  6               applewood vegan cheese   1050
  7                    kfc vegan chicken    900
  8                      vegan all sorts    600
  9              richmond vegan sausages    450
  10                      vegan allsorts    400
  11                   vegan burger king    250
  12                        vegan subway    250
  13                     is corona vegan    200
  14                    vegan easter egg    180
  15            high protein vegan meals    180
  16  greggs vegan sausage roll calories    150
  17                vegan lasagne recipe    130
  18                    aldi vegan range    120
  19                        vegan burger     90
  20                      vegan athletes     90
  21                          vegan mayo     80
  22                 vegan junk food bar     80
  23                       vegan burrito     80
  24                          vegan tuna     70}}

In [6]:

def get_data(dicti, key):
    
    df1 = related_queries_dict.get(key).get('rising')
    df2 = related_queries_dict.get(key).get('top')
    
    df1 = pd.DataFrame(df1, columns=['query', 'value'])
    df2 = pd.DataFrame(df2, columns=['query', 'value'])
    
    
    return df1, df2

In [7]:
best_rising, best_top = get_data(related_queries_dict, key='best')
food_rising, food_top = get_data(related_queries_dict, key='food')
rest_rising, rest_top = get_data(related_queries_dict, key='restaurants')
cafe_rising, cafe_top = get_data(related_queries_dict, key='cafe')
vega_rising, vega_top = get_data(related_queries_dict, key='vegan')

In [8]:
def prep_data(df, key):
    
    searches = df[key].to_list()
    
    groupkeywords = list(zip(*[iter(searches)]*1))
    groupkeywords = [list(x) for x in groupkeywords]
    
    return groupkeywords, searches

In [9]:
best_risng_kws, searches_best = prep_data(best_rising, key='query')
food_risng_kws, searches_food = prep_data(food_rising, key='query')
rest_risng_kws, searches_rest = prep_data(rest_rising, key='query')
cafe_risng_kws, searches_cafe = prep_data(cafe_rising, key='query')
vega_risng_kws, searches_vega = prep_data(vega_rising, key='query')

In [10]:
def perform_trending_search(groupkeywords, searches, filename):
    
    dicti = {}
    
    i = 1
    
    for trending in groupkeywords:
        pytrend.build_payload(trending, timeframe = user_timeframe, geo = 'GB', cat = 71)
        dicti[i] = pytrend.interest_over_time()
        i+=1
    
    result = pd.concat(dicti, axis=1)
    result.columns = result.columns.droplevel(0)
    result = result.drop('isPartial', axis = 1)
    result.reset_index(level=0, inplace=True)
    result = pd.melt(result, id_vars='date', value_vars=searches)
    
    save_file = result.to_csv(filename)
    
    return result

In [11]:
# have to split and run in different cells or google will block the request
perform_trending_search(groupkeywords=best_risng_kws, searches=searches_best, filename='RisingLocalDealsBest.csv')
perform_trending_search(groupkeywords=rest_risng_kws, searches=searches_rest, filename='RisingLocalDealsRest.csv')
perform_trending_search(groupkeywords=food_risng_kws, searches=searches_food, filename='RisingLocalDealsFood.csv')

           date          variable  value
0    2019-03-31   beer munch food      0
1    2019-04-07   beer munch food      0
2    2019-04-14   beer munch food      0
3    2019-04-21   beer munch food      0
4    2019-04-28   beer munch food      0
...         ...               ...    ...
1245 2020-02-09  m&s food near me     35
1246 2020-02-16  m&s food near me     21
1247 2020-02-23  m&s food near me     24
1248 2020-03-01  m&s food near me     28
1249 2020-03-08  m&s food near me     40

[1250 rows x 3 columns]

In [12]:
perform_trending_search(groupkeywords=cafe_risng_kws, searches=searches_cafe, filename='RisingLocalDealsCafe.csv')
perform_trending_search(groupkeywords=vega_risng_kws, searches=searches_vega, filename='RisingLocalDealsVega.csv')

           date                 variable  value
0    2019-03-31  greggs vegan steak bake      0
1    2019-04-07  greggs vegan steak bake      0
2    2019-04-14  greggs vegan steak bake      2
3    2019-04-21  greggs vegan steak bake      0
4    2019-04-28  greggs vegan steak bake      1
...         ...                      ...    ...
1245 2020-02-09               vegan tuna     23
1246 2020-02-16               vegan tuna     19
1247 2020-02-23               vegan tuna     16
1248 2020-03-01               vegan tuna     20
1249 2020-03-08               vegan tuna     13

[1250 rows x 3 columns]