# Google Trends Local Deals Restuarants and Food Scripts

In [6]:
from datetime import date
import pandas as pd
import pytrends
from pytrends.request import TrendReq
import datetime

In [144]:
numyears = 1
numdays = 7
numweeks = 52
total_time_range = numdays * numweeks * numyears

end_date= date.today()
today_date = date.today()
end_date = today_date
begin_date = end_date - datetime.timedelta(days = total_time_range-7)

user_timeframe = begin_date.strftime('%Y-%m-%d')+' '+end_date.strftime('%Y-%m-%d')
print(user_timeframe)

2019-03-19 2020-03-10

In [145]:
# initiate API 
pytrend =  TrendReq()

In [146]:
# perform initial search for related queries 
pytrend.build_payload(kw_list=['food', 'best', 'restaurants', 'cafe', 'vegan'], geo = 'GB', timeframe = user_timeframe, cat = 71)
related_queries_dict = pytrend.related_queries()
related_topics_dict = pytrend.related_topics()

In [57]:
related_queries_dict

{'food': {'top':                      query  value
  0             food near me    100
  1                 bbc food     84
  2                good food     78
  3            delivery food     55
  4            bbc good food     52
  5             chinese food     37
  6             food recipes     37
  7   marks and spencer food     31
  8                best food     31
  9                 m&s food     27
  10               fast food     27
  11              vegan food     27
  12             indian food     24
  13              party food     22
  14         food restaurant     21
  15              order food     19
  16              tesco food     19
  17             street food     18
  18               thai food     17
  19               asda food     15
  20              food ideas     14
  21               free food     14
  22               food shop     13
  23   delivery food near me     13
  24             food places     12,
  'rising':                            query  value
  0                  food hub code   3400
  1                beer munch food   2950
  2                 beermunch food   1300
  3   fast food restaurant near me    750
  4                     ninja food    700
  5            asian food delivery    350
  6           fast food restaurant    300
  7                  food near me.    200
  8              good food channel    160
  9           marks & spencer food    150
  10         mexican food delivery    130
  11                      food hub    120
  12                     zoom food     90
  13          victoria food market     80
  14          halloween party food     80
  15         italian food delivery     80
  16                food warehouse     70
  17                    food alert     70
  18           indian food near me     70
  19                food around me     70
  20        tesco online food shop     70
  21            asian food near me     70
  22            vegan food near me     60
  23         m and s food to order     60
  24                asda food shop     60},
 'best': {'top':                          query  value
  0             best restaurants    100
  1      best london restaurants     20
  2                   best kebab     19
  3          best burger near me     19
  4                   best pizza     19
  5                  best coffee     18
  6               best chocolate     17
  7                   best steak     16
  8                best takeaway     15
  9     best restaurants near me     13
  10  best restaurants in london      9
  11                    best gin      8
  12      best indian restaurant      7
  13         best fish and chips      7
  14     best restaurant near me      6
  15           best food near me      5
  16            best slow cooker      5
  17                best whiskey      5
  18         best chocolate cake      5
  19                best alcohol      5
  20                 best whisky      4
  21               best red wine      4
  22    best italian restaurants      4
  23          best sushi near me      3
  24          best kebab near me      2,
  'rising':                               query  value
  0        best advent calendars 2019  11050
  1       best christmas pudding 2019   5650
  2                  best start foods   3600
  3            best home cook georgia   2850
  4               best burger near me   2700
  5              best mince pies 2019   1500
  6                     best gin 2019    900
  7                  best whisky 2019    800
  8                best sushi near me    500
  9                best kebab glasgow    180
  10             best cupcake recipes    140
  11       best afternoon tea near me     90
  12         best vegetarian sausages     90
  13             best kebab cleveleys     90
  14              best kebab arbroath     90
  15          best single malt scotch     80
  16  best way to cook chicken thighs     70
  17        best coffee shops near me     70
  18             best vegan cookbooks     70
  19                    best gore.com     60
  20  best way to cook a turkey crown     60
  21         best restaurants in kent     60
  22         best indian food near me     60
  23    best restaurants in amsterdam     50
  24      best fish and chips near me     50},
 'restaurants': {'top':                          query  value
  0          restaurants near me    100
  1             best restaurants     68
  2           restaurants london     48
  3          italian restaurants     20
  4           indian restaurants     19
  5        restaurants in london     17
  6             food restaurants     15
  7         michelin restaurants     15
  8      best restaurants london     13
  9    michelin star restaurants     13
  10           vegan restaurants     12
  11       restaurants edinburgh     12
  12           halal restaurants     11
  13             top restaurants     10
  14         restaurants glasgow     10
  15             new restaurants      9
  16    best restaurants near me      9
  17      manchester restaurants      9
  18            good restaurants      7
  19  best restaurants in london      7
  20           steak restaurants      6
  21       liverpool restaurants      6
  22      restaurants birmingham      6
  23      birmingham restaurants      6
  24            york restaurants      6,
  'rising':                                query  value
  0         jason atherton restaurants    100
  1         best restaurants in oxford    100
  2             taste card restaurants     90
  3        spanish restaurants near me     90
  4                 nearby restaurants     80
  5            restaurants in kingston     70
  6           restaurants in worcester     70
  7              restaurants in durham     60
  8   dog friendly restaurants near me     60
  9          vegan restaurants near me     50
  10         pizza restaurants near me     50
  11       best restaurants in bristol     50
  12             restaurants in marlow     50
  13              take out restaurants     50
  14          fish restaurants near me     50
  15             fast food restaurants     40},
 'cafe': {'top':                      query  value
  0             cafe near me    100
  1                 the cafe     91
  2               cafe rouge     61
  3           breakfast cafe     40
  4           morrisons cafe     31
  5               vegan cafe     26
  6                cafe nero     24
  7                thai cafe     16
  8             cafe andaluz     15
  9          sainsburys cafe     13
  10         rainforest cafe     13
  11         cafe rouge menu     12
  12              river cafe     12
  13              cafe royal     12
  14              tesco cafe     12
  15          chocolate cafe     11
  16       breakfast near me     11
  17  breakfast cafe near me     11
  18              pizza cafe     10
  19               cafe east     10
  20               asda cafe      9
  21                dog cafe      8
  22            station cafe      7
  23               city cafe      7
  24             bridge cafe      7,
  'rising':                               query  value
  0             pusheen cafe brighton   3750
  1                     backyard cafe    550
  2                      pusheen cafe    500
  3                       ladana cafe    300
  4   cafe rouge cheese afternoon tea    200
  5                         folk cafe    150
  6         cafe rouge brindley place    140
  7                         cafe lutz    140
  8                        farzi cafe    100
  9                        adams cafe     90
  10                  bock biere cafe     90
  11                     orchard cafe     90
  12              chaakoo bombay cafe     90
  13                     cafe delight     80
  14                urban meadow cafe     80
  15                 coco cereal cafe     80
  16                   cafe east menu     80
  17                    bad moon cafe     80
  18                  hidden gem cafe     80
  19                society cafe bath     80
  20                     cafe society     70
  21         cafe rouge afternoon tea     70
  22             sainsburys cafe menu     60
  23                  cafe india menu     60
  24               thai cafe saltford     60},
 'vegan': {'top':                 query  value
  0       vegan recipes    100
  1          vegan food     72
  2          vegan cake     66
  3     vegan chocolate     52
  4        vegan cheese     43
  5   vegan restaurants     41
  6        vegan burger     35
  7       vegan near me     30
  8         vegan pizza     29
  9         vegan bread     29
  10         vegan diet     26
  11        vegan curry     26
  12   vegan restaurant     26
  13      vegan protein     24
  14        vegan cream     23
  15        vegan meals     22
  16          kfc vegan     22
  17      what is vegan     21
  18    vegan breakfast     19
  19        vegan pasta     19
  20     vegan pancakes     18
  21      vegan sausage     18
  22         vegan milk     16
  23      vegan chicken     16
  24       vegan dinner     14,
  'rising':                                  query  value
  0              greggs vegan steak bake  21500
  1              richmond vegan sausages  10300
  2            kfc vegan burger calories   6250
  3                     vegan burger kfc   5250
  4                     vegan steak bake   4200
  5               galaxy vegan chocolate   1600
  6               applewood vegan cheese   1400
  7                            kfc vegan   1200
  8                         vegan galaxy    950
  9                    kfc vegan chicken    900
  10                     vegan all sorts    700
  11                      vegan allsorts    500
  12                   burger king vegan    350
  13                  bosh healthy vegan    350
  14                        subway vegan    200
  15                    plant based diet    150
  16                      are figs vegan    140
  17                   is red bull vegan    110
  18                   are oysters vegan    110
  19  greggs vegan sausage roll calories    100
  20                          vegan tuna    100
  21                  vegan french toast     90
  22                          vegan keto     90
  23                        vegan magnum     90
  24                        vegan burger     80}}

In [88]:

def get_data(dicti, key):
    
    df1 = related_queries_dict.get(key).get('rising')
    df2 = related_queries_dict.get(key).get('top')
    
    df1 = pd.DataFrame(df1, columns=['query', 'value'])
    df2 = pd.DataFrame(df2, columns=['query', 'value'])
    
    
    return df1, df2

In [126]:
best_rising, best_top = get_data(related_queries_dict, key='best')
food_rising, food_top = get_data(related_queries_dict, key='food')
rest_rising, rest_top = get_data(related_queries_dict, key='restaurants')
cafe_rising, cafe_top = get_data(related_queries_dict, key='cafe')
vega_rising, vega_top = get_data(related_queries_dict, key='vegan')

In [108]:
def prep_data(df, key):
    
    searches = df[key].to_list()
    
    groupkeywords = list(zip(*[iter(searches)]*1))
    groupkeywords = [list(x) for x in groupkeywords]
    
    return groupkeywords, searches

In [136]:
best_risng_kws, searches_best = prep_data(best_rising, key='query')
food_risng_kws, searches_food = prep_data(food_rising, key='query')
rest_risng_kws, searches_rest = prep_data(rest_rising, key='query')
cafe_risng_kws, searches_cafe = prep_data(cafe_rising, key='query')
vega_risng_kws, searches_vega = prep_data(vega_rising, key='query')

In [149]:
def slope(xone, yone, xtwo, ytwo):
    return (ytwo-yone)/(xtwo-xone)

In [158]:
def perform_trending_search(groupkeywords, searches, filename):
    
    dicti = {}
    
    i = 1
    
    for trending in groupkeywords:
        pytrend.build_payload(trending, timeframe = user_timeframe, geo = 'GB', cat = 71)
        dicti[i] = pytrend.interest_over_time()
        i+=1
    
    result = pd.concat(dicti, axis=1)
    result.columns = result.columns.droplevel(0)
    result = result.drop('isPartial', axis = 1)
    result.reset_index(level=0, inplace=True)
    result = pd.melt(result, id_vars='date', value_vars=searches)
    
    
    
    keyword = result['value'].loc[[0]][0]
    trenddata = trenddata.ix[1:]
    trenddata['keyword'] = keyword
    trenddata.rename(columns={'values': 'trends'}, inplace=True)
    trenddata['trends'] = pd.to_numeric(trenddata['trends'], errors='coerce')
    trenddata['date'] = trenddata['date'].str.extract('(^[0-9]{4}\-[0-9]{2}\-[0-9]{2}) \-.*')
    trenddata = trenddata.dropna()
    trenddata['date'] = pd.to_datetime(trenddata['date'])
    trenddata['year'] = pd.DatetimeIndex(trenddata['date']).year
    trenddata['month'] = pd.DatetimeIndex(trenddata['date']).month
    trenddata['day'] = pd.DatetimeIndex(trenddata['date']).day
 
    maxyear = trenddata['year'].max()
    grouped = trenddata.groupby(['year']).mean() 
    
    slope = slope_formula(1,float(grouped.loc[grouped.index==maxyear-2]['trends']),
                          2,float(grouped.loc[grouped.index==maxyear-1]['trends']))
    keywordlist = keywordlist.append({'keyword':keyword,'slope':slope}, ignore_index=True)
    
    save_file = keywordlist.to_csv(filename)
    
    return keywordlist

In [159]:
# have to split and run in different cells or google will block the request
perform_trending_search(groupkeywords=best_risng_kws, searches=searches_best, filename='RisingLocalDealsBest.csv')

UnboundLocalError: local variable 'trenddata' referenced before assignment

In [138]:
# have to split and run in different cells or google will block the request
perform_trending_search(groupkeywords=best_risng_kws, searches=searches_best, filename='RisingLocalDealsBest.csv')
perform_trending_search(groupkeywords=rest_risng_kws, searches=searches_rest, filename='RisingLocalDealsRest.csv')
perform_trending_search(groupkeywords=food_risng_kws, searches=searches_food, filename='RisingLocalDealsFood.csv')

           date        variable  value
0    2019-03-24   food hub code      0
1    2019-03-31   food hub code      0
2    2019-04-07   food hub code     22
3    2019-04-14   food hub code      0
4    2019-04-21   food hub code      0
...         ...             ...    ...
1245 2020-02-02  asda food shop     65
1246 2020-02-09  asda food shop     58
1247 2020-02-16  asda food shop     67
1248 2020-02-23  asda food shop     70
1249 2020-03-01  asda food shop     53

[1250 rows x 3 columns]

In [139]:
perform_trending_search(groupkeywords=cafe_risng_kws, searches=searches_cafe, filename='RisingLocalDealsCafe.csv')
perform_trending_search(groupkeywords=vega_risng_kws, searches=searches_vega, filename='RisingLocalDealsVega.csv')

           date                 variable  value
0    2019-03-24  greggs vegan steak bake      0
1    2019-03-31  greggs vegan steak bake      0
2    2019-04-07  greggs vegan steak bake      0
3    2019-04-14  greggs vegan steak bake      0
4    2019-04-21  greggs vegan steak bake      0
...         ...                      ...    ...
1245 2020-02-02             vegan burger     30
1246 2020-02-09             vegan burger     22
1247 2020-02-16             vegan burger     23
1248 2020-02-23             vegan burger     23
1249 2020-03-01             vegan burger     19

[1250 rows x 3 columns]

In [147]:
import time
import os
from random import randint